<div class="d-flex flex-column flex-shrink-0 p-3 bg-sidebar" style="width: 280px;">
    <div class="text-center fs-4">CheapTrip</div>
    <hr/>
    <nav class="nav nav-pills flex-column mb-auto">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="tripplanner">
                <span class="bi bi-house-door-fill-nav-menu"></span> Plan trip
            </NavLink>
        </div>
    </nav>
</div>